<div class="main-body">
    <h2>Greetings Language Converter App (GLCA)</h2>
    <form action="/greet" method="POST">
        <input type="text" name="textItem" class="inputElements" placeholder="Enter your name here"
            value="{{textBoxValue.textItem}}">
        <div class="counter">
            <h1>{{counter}}</h1>
        </div>
        <label>
            <input type="radio" name="selector" value="english">English
        </label>
        <label>
            <input type="radio" name="selector" value="sesotho">Sesotho
        </label>
        <label>
            <input type="radio" name="selector" value="zulu">Zulu
        </label>
</div>
<button class="greetButton" type="submit" name="button">greet</button>
<div class="errors">
    <h3>
        {{messages.errors}}
    </h3>
</div>
<div class="txtBox">
<h1 id="txtBox">
    <p>{{txtBox}}</p>
</h1>
</div>
<button class="resetButton" type="reset" name="button">reset</button>
</form>

<div class="six columns">
        <h5>Database</h5>
        <form action="/data" method="POST">
        <button class="button-primary" type="submit" name="button">Add</button>
        </form>
        <h5>Home</h5>
        <table>
          <tr>
            <td>
              <a href="/datas">Total</a>
            </td>
            <td class="{{greetedUsers}}"> Names<span class="totalSettings">{{greetedUsers}}</span> </td>
          </tr>
        </table>

      </div>
{{!-- <div>
    <h4 class="">greeted for</h4>
    {{!-- <div class="">
        <form action="/filter" method="POST">
            <strong>Filter:</strong>
            <input class="" type="radio" name="daysFilter" value="all"> All
            <input class="" type="radio" name="daysFilter" value="three"> 3 times or less
            <input class="" type="radio" name="daysFilter" value="more"> More 3 times
            <input class="" type="submit" value="Filter">
        </form>
    </div> --}}
    {{!-- <table class="">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>counter</th>
            </tr>
        </thead>
        <tbody>
            {{#each hello}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{name}}</td>
                <td>{{counter}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> --}}
</div> 
</div>


